/* column view container */
.column-view-container {
	height: 180px;
	padding: 0;
	border: 1px solid #ccc;
	background: #FFF;
	display: block;
	overflow-x: auto;
	overflow-y: hidden;
}

/* the composition div for colums */
.column-view-composition {
	display: table;
	white-space: nowrap;
}

/**/
.column {
	display: table-cell;
	border-right: 1px solid #999;
}

.column:last-child {
	border-right: 0;
}

.column:only-child {
	border-right: 1px solid #999;
}

/* for error messages */
.column > p {
	padding-left: 5px;
	color: #666;
}

/* for column listing */
.column ul {
	margin: 0;
	padding: 0;
	height: 180px;
	width: 180px;
	overflow-y: auto;
	list-style: none;
}

.column ul li {
	position: relative;
	padding: 5px 10px 5px 5px;
	margin: 0;	
	padding-left: 5px;
	overflow: hidden;
	-o-text-overflow: ellipsis; /* pour Opera 9 */
	text-overflow: ellipsis; /* pour le reste du monde */
}

.column ul li:hover {
	background: #00A5CF;
	cursor: pointer;
}

.column ul li i {
	position: absolute;
	/* top: 9px; */
	right: 5px;
}

.column ul li:hover, .column ul li.active {
	background: #999999;
	color: #FFFFFF;
}

.column ul li:hover a, .column ul li.active a {
	background: #00A5CF;
	color: #FFFFFF;
}

.column ul li.search {
	margin: 0;
	padding: 5px;
}

.column ul li.search input {
	width: 100%;
	margin: 0;
}


/* icon type, could be replace with FontAwesome */
[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-top: 1px;
	*margin-right: .3em;
	line-height: 14px;
	vertical-align: text-top;
	background-image: url("/efecte/helpdesk/resources/img/glyphicons-halflings.png");
	background-position: 14px 14px;
	background-repeat: no-repeat;
}

.icon-chevron-right {
	background-position: -456px -72px;
}

.icon-user {
	background-position: -168px -0px;
}

.icon-globe {
	background-position: -336px -144px;
}

.icon-file {
	background-position: -23px -24px;
}


