body {
    /*padding-top: 80px;*/
    font-family: Verdana, Arial, Helvetica, sans-serif;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-size: 10pt;
    background-color: #fff !important;
}

.navbar-default {
    background-color: #fff;
}

h1.navbar-text {
    color: #0f1e83 !important;
    font-size: 22px;
    /*text-transform: uppercase;*/
    /*border-left: 0px solid #0f1e83;*/
    border-left:none;
}

.navbar-text {
    padding-left: 20px;
    padding-top: 25px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.navbar-right {
    margin-right: 0px;
}

.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {

}

.btn:active, .btn.active {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5) inset;
    font-weight: bold;
}

.btn-primary{
    background-color: #0f1e83 !important;
    border-color:#0f1e83 !important;
}


.label-primary{
    background-color: #0f1e83 !important;


}

a{
    color: #0f1e83 !important;
}

.panel-primary{
    color: #0f1e83 !important;
    border-color:#0f1e83 !important;
}
.panel-heading{
    background-color: #0f1e83 !important;
    border-color:#0f1e83 !important;
}

.slider {
    margin-left: 10px;
    margin-right: 10px;
}

.slider-track {
    background: linear-gradient(to right, #5cb85c 0%, #d9534f 100%);
}

.slider-selection {
    background: none;
}

.slider-handle {
    background-color: #f0ad4e;
    background-image: linear-gradient(to bottom, #f0ad4e 0%, #eb9316 100%);
    opacity: 1.0;
}

/*.slider.slider-horizontal .slider-handle {
    margin-top: -25px !important;
    margin-left: -15px !important;
} */

/* You can customize the handle and set a background image */

/*.slider-handle.custom {
    background: transparent none;
} */

/* Or display content like unicode characters or fontawesome icons */
/*.slider-handle.custom::before {
    line-height: 50px;
    font-size: 50px;
    content: '\2605';
    color: #f0ad4e;
} */

/*.slider .tooltip {
    margin-left: 2px;
}*/

.tooltip-inner {
    /*margin-left: 3px;*/
    background-color: #f0ad4e;
}

.tooltip-arrow {
    border-top-color: #f0ad4e !important;
}

/*.tooltip.top .tooltip-arrow {
    margin-left: -3px;
} */
