﻿.ms-rteStyle-VTTtest { 						/*   This will appear on the Sharepoint HTML editor Styles list   */
	-ms-name:"VTT test";
	color: #FF0000;
}


/* Version 0.1 */
@media screen {

body #s4-workspace {
	left:0;
	overflow-x: auto !important;
	overflow-y: auto !important;
	position:relative;
}
body.v4master {
	height: auto;
	overflow: auto !important;
	width: 100%;
	height: 100%;
}
a:active {
    color: #03499A;
}
a:hover {
    color: #03499A;
}
a:visited {
    color: #03499A;
}
a:link {
    color: #03499A;
}
img {
	border: 0px transparent none; 
}
/* Page Wrapper */
body{
	overflow:auto;
}
form {
	width:950px;
	margin-left:auto;
	margin-right:auto;
	padding-left: 72px;
}
.bodycover_layer {
	background-color: #FFFFFF;
	visibility:hidden;
}
.bodycover_layer .s4-ba {
	visibility:visible;
}
/* Top navigation bar */
.s4-toplinks {
	padding:0;
}
.menu-horizontal {
	display:table;
}
.s4-tn {
	margin: 0px 0px 0px -4px;
	padding:0;
}
.menu-horizontal ul.static {
	display:inline;
}
.s4-tn ul.static {
	white-space:nowrap;
}
.menu li {
	margin:0;
	padding:0;
}
.menu ul {
	margin:0;
	padding:0;
}
.menu ul {
	list-style:none outside none;
}
.menu-horizontal span.static {
	float:left;
}
.menu-horizontal a.static {
	float:left;
}
.menu-horizontal li.static {
	float:left;
}
.menu li {
	margin:0;
	padding:0;
}
.menu ul {
	margin:0;
	padding:0;
}
.s4-tn li.static > .menu-item {
	border:1px solid transparent;
	color: #009EE0;
	display:inline-block;
	height:15px;
	padding:4px 9px;
	vertical-align:middle;
	white-space:nowrap;
	border-left:1px solid #FFFFFF;
	font-family: Arial; 
	font-size: 11px;
	font-weight: bold;
}
.s4-toplinks .s4-tn li.static > .menu-item {
	color: #FFFFFF;
}
.s4-pr .s4-tn li.static > .menu-item {
	color: #FFFFFF;
}
.s4-toplinks .s4-tn a:link {
	color: #03499A;
}
.s4-toplinks .s4-tn a.selected {
	background:url("/_layouts/images/selbg.png") repeat-x scroll left top #CCEBFF;
	border-color:#C6E5F8 #91CDF2 #ADDBF7;
	color:#003759;
	margin:0 5px;
	padding:4px 5px;
}
body #s4-topheader2 {
	background:url("Images/navigation_bg.png") repeat-x scroll left top #F6F6F6;
	border-bottom:1px solid #B8BABD;
	border-top:1px solid #E0E0E0;
	height: 29px;
	vertical-align:middle;
	width: 560px;
}
.s4-toplinks .s4-tn li.grey {
	background:url("Images/navigation_bg_grey.png") repeat-x scroll left top #F6F6F6;
    height: 24px;
    position: relative;
    right: -31px;
    margin-top: -2px;
    border-left: 1px solid #FFFFFF;
	border-bottom: 3px solid #CCCCCC;
}
.static_topnaviheader li.grey {
    border-right: 2px solid #FFFFFF;
    clear: both;
    display: block;
    float: left;
    height: 22px;
    padding: 4px 1px 2px 5px;
    width: 81px;
}
body .static_topnaviheader {
	background:url("Images/navigation_bg_grey.png") repeat-x scroll left top #F6F6F6;
    border-bottom: 0px none transparent;
    border-top: 0px none transparent;
    min-height: 29px;
    vertical-align: middle;
	width: 385px;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	cursor: default;
}
body .static_topnaviheader a {
	color: #FFFFFF;
}
/* IE9 Welcome menu and settings menu transparency issue */
div.ms-MenuUIPopupInner ul{ background-color:#FFFFFF; }

/* --------- */
.topnavi_header .topnavi_popout {
	background-color: #FFFFFF;
	display: none;
	z-index: 1300;
	width: 160px;
	padding: 5px 5px 5px 15px;
	position: absolute;
	border: 1px #00adef solid;
	background: white none no-repeat fixed left top;
}
.topnavi_header .medium {
    font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}
.topnavi_header .item {
    padding: 0px 0px 0px 4px;
}
body .static_topnaviheader .topnavi_popout a {
	color: #000000;
}
.topnavi_popout .link-item a:active {
	color: #000000;
}
.topnavi_popout .link-item a:hover {
	color: #000000;
}
.topnavi_popout .link-item a:visited {
	color: #000000;
}
.topnavi_popout .link-item a:link {
	color: #000000;
}
.topnavi_header .topnavi_popout ul li {
}
.topnavi_header .topnavi_popout ul li ul {
	display: none;
    background-color: #FFFFFF;
    border: 1px solid #00ADEF;
    position: absolute;
    padding: 5px;
    margin: -20px 0px 0px -160px;
    width: 160px;
}
.topnavi_header .groupheader:hover {
	text-decoration: underline;
	cursor: default;
}
.topnavi_header .topnavi_popout ul li:hover ul {
	display: block;
}
.topnavi_header .s4-wpTopTable {
    padding: 0px 0px 0px 0px;
}
.topnavi_header:hover .topnavi_popout {
	display: block;
}
.organization_topnavi {
	float: left;
	margin: 0px 0px 0px 0px;
	display: block;
	height: 25px;
	padding: 4px 10px 0px 10px;	
}
.help_topnavi {
	float: left;
	margin: 0px 0px 0px 0px;
	display: block;
	height: 25px;
	padding: 4px 10px 0px 10px;	
}
.tools_topnavi {
	float: left;
	margin: 0px 0px 0px 0px;
	display: block;
	height: 25px;
	padding: 4px 10px 0px 10px;	
}
.my_works_topnavi {
	float: left;
	margin: 0px 0px 0px 0px;
	display: block;
	height: 25px;
	padding: 4px 10px 0px 10px;	
}
.my_works_topnavi {
	border-right: 2px #FFFFFF solid;
	width: 90px;
}
.tools_topnavi {
	border-right: 2px #FFFFFF solid;
	width: 60px;
}
.organization_topnavi {
	border-right: 2px #FFFFFF solid;
}
.help_topnavi {
	width: 70px;
}
.s4-pr {
	width:100%;
}
.s4-title {
	background: none repeat-x scroll 0 0 #FFFFFF;
	margin:0;
	min-height: 30px;
	overflow-x:hidden;
	padding:0 0 0 10px;
	word-wrap:break-word;
}
.s4-search input.ms-sbplain {
	background:url("/_layouts/images/bgximg.png") repeat-x scroll 0 -511px #FFFFFF;
	border:1px solid #E3E3E3 !important;
	font-size:1.1em;
	height:17px;
	padding:2px 3px 0;
	width:120px !important;
}
#go_search {
	margin-top: 3px;	
}
.s4-search .ms-sbtable-ex {
	float:right;
	margin-right:2px;
	margin-top: 0;
}
.s4-socialdata-notif {
	width: 54px;
}
.s4-titletext {
	unicode-bidi:embed;
	vertical-align:middle;
	width: 200px;
}
.s4-titletext .hidden {
	display: none;
}
.headerbar_table {
	width: 100%;
	border-collapse: collapse;
}

.headerbar_table td {
}
.s4-titlelogo {
	padding:12px 0 12px 0;
	text-align: left;
	vertical-align:middle;
}
#s4-leftpanel {
	display: none;
}
.s4-ca {
	background:none repeat scroll 0 0 #FFFFFF;
	margin-left: 0px;
	margin-right:0;
	min-height:324px;
	float: left;
}
.content_area_centered {
	width: 916px;
	margin-left: auto;
	margin-right: auto;
}
.cells1 {
	width: 320px;
	vertical-align: top;
}
.cells2 {
	width: 320px;
	vertical-align: top;
}
.cells3 {
	width: 276px;
	vertical-align: top;
	padding: 10px;
}
.cells12 {
	width: 640px;
	vertical-align: top;
}
.rounded {
	padding: 6px;
	border: 1px #0066FF solid;
	border-radius: 8px;
}
.news_archive_frontpage_table {
	width: 900px;
	border-collapse:collapse;
}
.news_archive_frontpage_rightcol {
	width: 600px;	
	vertical-align: top;
}
.ms-SPLink a:visited {
	color: #FFFFFF;
	text-decoration:none;
}
.ms-SPLink a:link {
	color: #FFFFFF;
	text-decoration:none;
}

/* ----- language hiding by default -----------*/
.finnishStaticNavigation {
	display: none;
}
.englishStaticNavigation {
	display: none;
}
.english {
	display: none;
}
.finnish {
	display: none;
}
.finnish_visible {
	visibility:hidden;
}
.english_visible {
	visibility:hidden;
}
/* --- top bar vtt logo -------*/
.vtt_logo {
	display: block;
	width: 90px;
	height: 22px;
	background-image: url('Images/VTT-Logo-TopBar.png');
	background-position: left top;
	background-repeat: no-repeat;
	float:right;
}
.s4-title-inner {
	min-height: 30px;
}
.vtt_site_title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #00ADEF;
	padding-bottom: 3px;
	letter-spacing: 0.26em;
}

/* --- top bar vtt logo end -------*/
/* --- top bar user menus -------*/

.s4-trc-container-menu {
	border-bottom: 0px none transparent;
	float:left;
	margin: 19px 0px 0px 0px;
}
.ms-cui-TabRowLeft {
	font-size:0;
	margin-top: 19px;
}
.ms-welcomeMenu {
	font-family: "Segoe UI",Tahoma,Verdana,sans-serif;
	font-size:1em;
}
.ms-siteactionsmenu > span > a > span {
	display:inline-block;
	margin:0 0 0 2px;
}
.ms-welcomeMenu {
	border:1px solid transparent;
	display:inline-block;
	font-size:1em;
	margin:0 3px;
	padding: 3px 5px 5px 0px;
}
body #s4-ribbonrow {
	background-color:#374896;
	border-top: 5px solid #FFFFFF;
	min-height: 43px;
	overflow-y: hidden;
	font-size:8pt;
}
.ms-cui-topBar2 {
    border-bottom: 0px none transparent;
}
/* --- top bar user menus end -------*/
/* --- title bar height -------*/
.s4-titletable {
	border:0 none;
	font-family:Verdana,Arial,sans-serif;
	font-size:8pt;
	height: 30px;
	width:100%;
}
/* --- title bar height end -------*/

/*---------------- jQuery lightBox plugin --------------------- */
 
#jquery-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
}
#jquery-lightbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;
}
#jquery-lightbox a img { border: none; }
#lightbox-container-image-box {
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}
#lightbox-container-image { padding: 10px; }
#lightbox-loading {
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}
#lightbox-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}
#lightbox-container-image-box > #lightbox-nav { left: 0; }
#lightbox-nav a { outline: none;}
#lightbox-nav-btnNext {
	width: 49%;
	height: 100%;
	zoom: 1;
	display: block;
}
#lightbox-nav-btnPrev {
	width: 49%;
	height: 100%;
	zoom: 1;
	display: block;
}
#lightbox-nav-btnPrev { 
	left: 0; 
	float: left;
}
#lightbox-nav-btnNext { 
	right: 0; 
	float: right;
}
#lightbox-container-image-data-box {
	font: 12px Arial, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%;
	padding: 0 10px 0;
}
#lightbox-container-image-data {
	padding: 0 10px; 
	color: #666; 
}
#lightbox-container-image-data #lightbox-image-details { 
	width: 70%; 
	float: left; 
	text-align: left; 
}	
#lightbox-image-details-caption { font-weight: bold; }
#lightbox-image-details-currentNumber {
	display: block; 
	clear: left; 
	padding-bottom: 1.0em;	
}			
#lightbox-secNav-btnClose {
	width: 66px; 
	float: right;
	padding-bottom: 0.7em;	
}
/*------ lightbox styles end------------*/
/* --------- Article page gallery ------*/
.news_gallery {
}
.image_gallery {
	background-color: #02ABEC;
	border: 0px transparent none;
}
.article_gallery img {
	border: 0px transparent none;
}
.gallery_image {
}
.vaaka {
}
.pysty {
}
.article_gallery_image_wrapper {
	float:left;
	height:130px;
	margin: 13px 26px;
	overflow:hidden;
	width:130px;
}
/* --------- Article page gallery styles end ------*/
/* --------- Front page top news ------*/
.round_blue_borders .s4-wpTopTable {
	padding: 0px;
}
.frontpage_topnews_text  {
	vertical-align: top;
	margin: 10px 10px 0px 0px;
}
.frontpage_topnews_image {
	float: left;
	border: 0px transparent none;
	margin: 0px 10px 10px 0px;
	width: 100px;
	height: 100px;
}
/* --------- Front page my tasks and my notices ------*/

.my_notices .ms-WPHeader {
	background-color: #CCCCCC;
	background-image: none;
	border: 2px #FFFFFF solid;
}

.my_tasks .ms-WPHeader {
	background-color: #CCCCCC;
	background-image: none;
	border: 2px #FFFFFF solid;
}
.my_notices .ms-WPTitle {
	color:#1D398D;
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
	font-weight:bold;
	line-height:21px;
}
.my_tasks .ms-WPTitle {
	color:#1D398D;
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
	font-weight:bold;
	line-height:21px;
}
.my_notices .ms-WPBody {
	display: none;	
}
.my_tasks .ms-WPBody {
	display: none;	
}
/* --------- Front page my tasks and my notices end ------*/

/* --------- Process site left navigation tree ------*/
.prosessi_sisalto_table {
	width: 950px;
	padding-left: 10px;
}
.prosessi_sisalto_table td {
	vertical-align: top;
}
.process_texteditorfield {
	padding-right: 10px;
}
.prosessi_sarake1 {
	width: 670px;
}
.prosessi_sarake2 {
	width: 200px;
	padding: 0px 0px 0px 10px;
}
.prosessi_sarake3 {
	width: 200px;
}
.process_4level_highertext {
}
.step_in_text {
	font-size: 14px;
	font-weight: bold;
	display: block;
	color: #FFFFFF;
	width: 70px;
	text-align: center;
	padding: 10px 0px 10px 0px;
	height: 30px;
}
.click_open_text {
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
	display: none;
}
.sitemap_container:hover .click_open_text { 
	display: block;
	
}
.sitemap_container {
	height: 400px;
    overflow: hidden;
    position: absolute;
    width: 70px;
    z-index: 1230;
    left: -70px;
}
.sitemap_processoveral_background {
	position: relative;
	top: 0px;
	width: 70px;
	height: 400px;
	overflow: hidden;
	z-index: 1210;
	background-color: #FFFFFF;
	background-position: left 50px;
	background-repeat: no-repeat;
	padding-bottom: 5px;
}
.sitemap_processoveral {
	position: absolute;
	width: 70px;
	height: 400px;
	z-index: 1200;
	overflow:hidden
}
.sitemap_processoveral:hover {
}
.sitemap_processoveral {
	background-color: #EEEEEE;
}
.sitemap_processoveral_background {
	background-image:url('Images/jalat4.png');
}
.step_in_text {
	background-color: #019ee1;
}
/*
.sitemap_processoveral:hover {
	width: 0px;
	overflow: auto;
}
.sitemap_processoveral:hover {
	width: 400px;
	overflow: auto;
}
/*
.sitemap_processoveral_background {
	position: absolute;
	top: 0px;
	left: 0px;
	filter:alpha(opacity=70);
    opacity: 0.70;
	z-index: -1;
}
.processoveral {
	background-color: #0076A8;
	width: 400px;
}
*/
.process_nav_collapse {
	width: 12px;
	height: 12px;
	float: left;
	margin-right: 5px;
	cursor: pointer;
}
.processoveral a {
	color: #03499A;
	padding-left: 17px; 
}
.processoveral a:hover {
	text-decoration: underline; 
}
.processoveral a.selected {
	background-color: #00adef;
	color: #FFFFFF;
}
.processoveral {
	color: #FFFFFF; 
}
.processoveral ul {
	margin-bottom: 10px;
}
.processoveral ul li {
	margin: 0px 0px 0px 10px;
	width: 220px;
}
.processoveral ul ul {
	margin: 0px 0px 0px 10px;
}
.processoveral ul ul li {
	margin: 0px 0px 0px 10px;
	width: 220px;
}
.processoveral ul li ul li ul li ul li {
	display: none;
}
.process_branch_level3 {
	background-color: #EEEEEE;
}
.process_branch_level3 li {
}
.process_branch_level3 a{
	color: #000000;	
}
.process_branch_level3 li.selected a {
	color: #00ADEF;
}
.process_branch_level3 li.selected ul a {
	color: #000000;
}
.process_branch_level3 li.selected {
	color: #00ADEF;
}
.process_3level_contentnavi {
	display: block;
	width: 100%;
	margin: 0px 10px 10px 0px;
}
.hornavi_preview {
	display: none;
	width: 300px;
	height: 30px;
}
.second_hornavi {
	display: none;
}
.first_hornavi {
	display: none;
}
.preview_button2 {
    border: 1px #66CCFF dotted;
    cursor: pointer;
    display: block;
    float: left;
    margin: 5px;
    padding-left: 10px;
    width: 75px;
}
.preview_button1 {
    border: 1px #66CCFF dotted;
    cursor: pointer;
    display: block;
    float: left;
    margin: 5px;
    padding-left: 10px;
    width: 75px;
}
.process_3level_contentnavi ul{
	
}
.process_3level_contentnavi ul li{
	display: block;
	float: left;
	margin: 0px 5px 0px 0px;
	padding: 0px 5px 0px 0px;
}
.process_3level_contentnavi ul li ul li{
	font-weight: bold;
}
.process_3level_contentnavi ul li ul li ul li{
	font-weight: normal;
}
.process_3level_contentnavi ul li a{
}
.process_3level_contentnavi ul li a:hover{
	text-decoration: underline;
}
.process_3level_contentnavi ul li ul{
}
.process_3level_contentnavi ul a{
	border-right: 1px #6699FF solid;
	padding: 0px 5px 3px 5px;	
}
.process_flowtext {
	padding-right: 10px;
	visibility: hidden;
}
.processing_wait_image {
	display: block;
	width: 500px;
	height: 100px;
	background-color: #FFFFFF;
	background-image: url("images/flow_processing.gif");
	background-repeat: no-repeat;
	background-position: center center;
} 
.flow_editor_help_title {
	cursor: pointer;
}
.flow_editor_help {
	display: none;
	width: 643px;
	word-spacing: normal;
	white-space: normal;
}
.process_page_taxonomy_field span {
	display: none;
}
.process_page_taxonomy_field .ms-formfieldcontainer span {
	display: block;
}
.process_4level_highertext .s4-wpTopTable {
    padding: 0px 0px 0px 0px;
}
.process_texteditorfield .ms-rtestate-write {
	border: 1px #FF0000 solid;
}
/* Process pages link lists */
.process_contactlist_header_title {
    clear: both;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0px;
    text-align: left;
}
.groupheader {
    clear: both;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0px;
    text-align: left;
}
.process_linklist_separator {
	height: 10px;
}
.process_linklist {
	padding: 10px 5px 10px 15px;
	width: 245px;
}
.process_calendar_lists {
	padding: 10px 5px 10px 0px;	
}
.process_linklist.process_type1 {
	margin: 0px 0px 0px 0px;
	padding-left: 0px;
}
.process_linklist.process_type1 .ms-WPBody li {
	margin-left: 26px;
}
.process_linklist .link-item a:link {
}
.process_linklist li {
	list-style: disc outside none;
	color: #03499A;
	font-size: 11px;
	margin-left: 16px;
}
.process_linklist .ms-WPBody li {
	margin-left: 0px;
}
.process_linklist .ms-WPBody ul {
	margin-left: 0px;
}
.process_linklist .ms-WPBody ul ul {
	margin-left: 16px;
}
.process_linklist .ms-WPBody ul .item{
	margin-left: 0px;
}
.process_updates_listitem a div {
}
.process_updates_listitem a {
	padding: 0px 5px 0px 0px;
}
.process_updates_listitem_date {
	display: inline-block !important;
	font-size: 10px;
	color: #4C4C4C;
}
li.list_item_groupheader {
	list-style: none inside none;	
}
ul ul.dfwp-list {
    list-style: none outside none;
    margin: 0px 0px 0px 5px;;
    padding: 0;
}
li.dfwp-item .link-item {
}
.process_linklist li div {
	display: inline;
}
.process_linklist .s4-wpTopTable {
    padding: 0px;
}
.process_linklist_links {
	padding: 0px 0px 2px 5px;
	display: inline;
}
.process_linklist .presence-status-icon{
	float: none;
	margin-left: 5px;
}
/* Process pages font styles */
.process_pagetitle {
	font-size: 14px;
	font-weight: bold;
	color: #03499A;
	margin: 0px 0px 0px 0px;
}
.process_pagetitle .s4-wpTopTable {
    padding: 0px 0px 0px 0px;
}
.process_pagetitle .prosessiteksti_kopio {
	font-size: 14px;
	color: #03499A;
}
.prosessiteksti_kopio {
	color: #000000;
    font-family: Arial,Helvetica,Courier,sans-serif;
    font-size: 13px;
    margin-bottom: 16px;
    text-align: left;
}
.ms-rtestate-field {
	color: #000000;
	font-size: 11px;
}
.process_todo_title{
	color: #333333;
	font-size: 12px;
	font-weight: bold;
}
.update_notes_body {
	display: none;
}
.update_notes:hover .update_notes_body {
	display: block;
}
.editing_history {
	font-size: 10px;
}
/*-------arrows and boxes styles-------------------------------------------------*/
div.arrowsandboxes-wrapper {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	color: #444444;
	margin: 20px 0;
	overflow: auto;
	line-height: 1em;
}

div.arrowsandboxes-graph-wrapper {
	position: relative; /* greetings to ie 6*/
}

pre.arrowsandboxes-source {
	font-size: 10px;
	display: none;
}

pre.arrowsandboxes-source-with-errors {
	background-color: #eeeeee;	
	color: #999999;
	border: 8px solid #FFF0F0;
	border-bottom: none;
	margin-bottom: 0;
	padding: 8px 12px;
	font-size: 10px;	
}

div.arrowsandboxes-error {
	color: #9A3A3A;
	background-color: #FFF0F0;
	padding: 8px 12px;
	font-size: 10px;	
}

div.arrowsandboxes-error a {
	font-weight: bold;
	color: #9A3A3A;
}

div.arrowsandboxes-error code {
	font-size: 10px;
}

div.arrowsandboxes-powered-by {
	display:none;
	position: absolute;
	margin-top: -18px;
	font-size: 10px;
	line-height: 12px;
	color: #aaaaaa;
	padding: 2px 4px;
}

div.arrowsandboxes-powered-by span {
	display: none;
}

div.arrowsandboxes-powered-by-hovered {
	display: none;
	background-color: #ffffff;
}

div.arrowsandboxes-powered-by-hovered span {
	display: none;
	display: inline;
}

div.arrowsandboxes-powered-by a:hover {
	display: none;
	color: #bbbbbb;
	font-weight: normal;
	text-decoration: none;
}

div.arrowsandboxes-powered-by a {
	display: none;
	color: #bbbbbb;
	font-weight: normal;
	text-decoration: none;
}

div.arrowsandboxes-powered-by a:hover {
	display: none;
	text-decoration: underline;
}

div.arrowsandboxes-wrapper-hovered div.arrowsandboxes-powered-by {
	display: none;
	zoom: 1;
}

div.arrowsandboxes-node {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background-color: #99CCFF;
	border: 2px solid #385D8A;
	overflow: hidden;
}

div.arrowsandboxes-node-hovered {
	overflow: visible;
}
div.arrowsandboxes-node-title {
	text-align: center;
	font-size: 11px;
	margin: 1px;
	padding: 0px;
	color: #000000;
	background-color: transparent;
}

div.arrowsandboxes-node-subtitle {
	text-align: center;
	font-size: 9px;
	margin: 2px;
	padding: 3px;
	padding-top: 0;
	color: #000000;
	background-color: transparent;
}

div.arrowsandboxes-node-highlighted {
	background-color: #00ADEF;
	border-color: #385D8A;
	color: #FFFFFF;
}

div.arrowsandboxes-node-highlighted div.arrowsandboxes-node-title {
	color: #FFFFFF;
}

div.arrowsandboxes-node-highlighted div.arrowsandboxes-node-subtitle {
	color: #FFFFFF;
}

div.arrowsandboxes-label {
	color: #333333;
	padding: 3px 6px;
	font-size: 11px;
	white-space: nowrap;
}
div.arrowsandboxes-label-hovered {
	background-color: #CCCCCC;
}
div.arrowsandboxes-label a {
	color: #000000;
}
.arrowsandboxes-node a {
	color: #000000;
}
.arrowsandboxes-node-highlighted a {
	color: #FFFFFF;
}
div.arrowsandboxes-label a:hover {
	text-decoration: underline;
}
.arrowsandboxes-node a:hover {
	text-decoration: underline;
}
.red div.arrowsandboxes-node-title {
	background-color: #FF0000;
	color: #FFFFFF;
	border-color: #AA0000;
}
.red.arrowsandboxes-node {
	background-color: #FF0000;
	color: #FFFFFF;
	border-color: #AA0000;
}
.red .arrowsandboxes-node-subtitle {
	background-color: #AA0000;
	color: #FFFFFF;
}
.green div.arrowsandboxes-node-title {
	background-color: #00FF00;
	color: #333333;
	border-color: #00AA00;
}
.green.arrowsandboxes-node {
	background-color: #00FF00;
	color: #333333;
	border-color: #00AA00;
}
.green .arrowsandboxes-node-subtitle {
	background-color: #00AA00;
	color: #FFFFFF;
}
.yellow div.arrowsandboxes-node-title {
	background-color: #FFFF00;
	color: #333333;
	border-color: #FFCC00;
}
.yellow.arrowsandboxes-node {
	background-color: #FFFF00;
	color: #333333;
	border-color: #FFCC00;
}
.yellow .arrowsandboxes-node-subtitle {
	background-color: #EEEE00;
	color: #333333;
}
.brown div.arrowsandboxes-node-title {
	background-color: #CC9900;
	color: #FFFFFF;
	border-color: #996600;
}
.brown.arrowsandboxes-node {
	background-color: #CC9900;
	color: #FFFFFF;
	border-color: #996600;
}
.brown .arrowsandboxes-node-subtitle {
	background-color: #AA8855;
	color: #FFFFFF;
}
.blue div.arrowsandboxes-node-title {
	background-color: #0000FF;
	color: #FFFFFF;
	border-color: #0000AA;
}
.blue.arrowsandboxes-node {
	background-color: #0000FF;
	color: #FFFFFF;
	border-color: #0000AA;
}
.blue .arrowsandboxes-node-subtitle {
	background-color: #0066FF;
	color: #FFFFFF;
}
.purple div.arrowsandboxes-node-title {
	background-color: #FF00FF;
	color: #FFFFFF;
	border-color: #AA00AA;
}
.purple.arrowsandboxes-node {
	background-color: #FF00FF;
	color: #FFFFFF;
	border-color: #AA00AA;
}
.purple .arrowsandboxes-node-subtitle {
	background-color: #FF66FF;
	color: #FFFFFF;
	font-size: 9px;
}

/* Styles for process page level 1  */
.process_droplist {
	list-style: none;
	padding: 0px 0px 0px 0px;
}
.process_droplist li{
	border: 1px solid #00ADEF;
	background-color: #FFFFFF;
	color: #000000;
	background-image: url("Images/dropdown_arrow_right.png");
	background-position: right center;
	background-repeat: no-repeat;	
	margin-bottom: 5px;
	height: 15px;
}
.process_droplist li a{
	color: #FFFFFF;
}
.process_droplist_popup {
	padding: 5px;
	background: #FFFFFF;
	visibility: hidden;
	position: relative;
	top: -15px;
	left: 80px;
	z-index: 1100;
	border: 1px solid #00ADEF;
}
.process_droplist_popup li{
	background: #FFFFFF;
	float: left;
	clear: both;
}
.process_droplist_popup li a{
	color: #000000;
}
.process_droplist_popup li a:hover{
	text-decoration: underline;
}
.process_droplist li ul li {
	border: none;
	background-color: #FFFFFF;
	color: #FFFFFF;
	background-image: none;
}
.process_droplist .item {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.process_table {
	width: 600px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.process_table table{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.grey_arrow_box {
	background-image:url('images/grey_background_arrow.png');
	background-position: right center;
	padding: 10px 20px 10px 10px;
}
.bluebox {
    background-color: #00ADEF;
    border: 1px solid #666666;
    display: block;
    float: left;
    height: auto;
    margin: 0 10px 5px 0;
    min-height: 20px;
    padding: 5px;
    vertical-align: middle;
    text-align: center;
}
.process_table .bluebox a{
	color: #FFFFFF;
}
.lightbluebox {
    background-color: #91D8F4;
    border: 1px solid #666666;
    color: #000000;
    display: block;
    float: left;
    height: auto;
    margin: 0 10px 5px 0;
    min-height: 20px;
    padding: 5px;
    vertical-align: middle;
    text-align: center;
}
.emptybox {
    display: block;
    float: left;
    height: auto;
    margin: 0 10px 5px 0;
    min-height: 20px;
    padding: 5px;	
}
.boxrow {
	display: table-row;
}
.boxrow_float_left {
	float: left;
}
.boxrow_float_right {
	float: right;
}
.boxcolumn {
	float: left;
	width: 110px;
}
.box_full_height {
	height: 95%;
	display: table-cell;
	vertical-align: middle;
}
.box_width_small {
	width: 90px;
}
.box_width_medium {
	width: 160px;
}
.box_width_large {
	width: 180px;
}
.box_width_largeplus {
	width: 202px;
}
.box_width_medium_double {
	width: 312px;
}
.grey_arrow_box h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
}
.grey_arrow_box ul {
	color: #03499a;
	list-style: none;
	margin-left: 0px;
	padding-left: 0em;
	text-indent: 0em;
	position: absolute;
}
.grey_arrow_box li {
	margin-bottom: 3px;
}
.lightbluebox li {
	list-style: none;
	margin-left: 0px;
	padding-left: 0em;
	text-indent: 0em;
}
.bluebox li {
	list-style: none;
	margin-left: 0px;
	padding-left: 0em;
	text-indent: 0em;
}
.process_table a {
	text-decoration: none;
	cursor: pointer;
	color: #000000;
}
.process_table a:hover {
	text-decoration: underline;
}
.process_level_container .ms-rtestate-field {
    color: #000000;
}
.process_chart_list  {
	display: none;
}
.process_chart_popup {
	background-color: #FFFFFF;
	border: 1px solid #00ADEF;
	width: 200px;
	position: absolute;	
	display: none;
	z-index: 3000;
	padding: 5px 5px 5px 5px;
	margin: -20px 0px 0px 50px;
	text-align: left;
}
.box_width_medium_double .process_chart_popup {
	margin: -20px 0px 0px 150px;
}
.box_width_medium .process_chart_popup {
	margin: -20px 0px 0px 100px;
}
.process_table .lightbluebox .process_chart_popup a {
	color: #000000;
}
.process_table .bluebox .process_chart_popup a {
	color: #000000;
}
.process_chart_popup  li{
	list-style: none;
}
.popup_visible {
	display: block;
}
.process_box_link {
	padding: 0px 0px 5px 0px;
	font-weight: bold;
}
.rounded {
	border-radius: 8px 8px 8px 8px;
}
.box_half_height {
}
.process_chart_popup .item {
	padding: 0px 0px 0px 0px;
	font-size: 11px;
}
/* Styles for Menu Items */
.process_leve1_container ul li a {
	display: block;
	text-decoration: none;
	padding:3px;
	border: 0px solid transparent; /* IE6 Bug */
	background-color: #EEEEEE;
	}

/* Fix IE. Hide from IE Mac \*/
* html .process_leve1_container ul li { float: left; height: 1%; }
* html .process_leve1_container ul li a { height: 1%; }
/* End 
.process_leve1_container li:hover ul { display: block; } 
*/

.process_box3_title {
	padding: 0px 0px 5px 0px;
}


.remove {
	display: none;
	height: 0px;
}
.faq_content {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
    margin: 0px 0px 0px 5px;
}
.faq_modal_launch .faq_modal{
}
.faq_list_row{
	width: 720px;
	clear: both;
	color: #000000;
}
.faq_content_modal {
	display: none;
}
a.faq_modal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #1D398D;
}
a.faq_modal:hover {
	text-decoration:underline;
}
.faq_content_header {
	display: block;
}
.faq_list_div {
	float: left;
	margin: 0px 5px 0px 0px;
}
.faq_column1 {
	width: 0px;
	display: none;
}
.faq_column2 {
	width: 300px;
	display: block;
}
.faq_column3 {
	width: 300px;
	display: block;
}
.faq_list_column_header {
	font-size: 12px;
	font-weight: bold;
	color: #00ADEF;
}
.Process_contact_list_row{
	width: 600px;
	clear: both;
	color: #000000;
}
.Process_contact_list_row a div{
	color: #000000;
}
.process_contact_list_div {
	float: left;
	margin: 0px 5px 0px 0px;
}
.contact_column1 {
	width: 0px;
	display: none;
}
.contact_column2 {
	width: 120px;
	display: block;
}
.contact_column3 {
	width: 200px;
	display:block;
}
.contact_column4 {
	width: 200px;
	display:block;
}
.contact_column5 {
	width: 200px;
	display:block;
}
.contact_column6 {
	width: 200px;
	display:block;
}
.process_contactlist_header_title .dfwp-list {

}
.process_contactlist_header {
	color: #00ADEF;
	font-size: 0px;
	height: auto;
	display: block;
	clear:both;
	margin: 0px 0px 0px 13px;
}
.contact_list_column_header {
	font-size: 12px;
	font-weight: bold;
	color: #00ADEF;
}
.process_contactlist_header span {
	display: list-item;
	font-size: 11px;
}
.process_contactlist10  {
	display: none;
}
.process_contactlist9  {
	display: none;
}
.process_contactlist8  {
	display: none;
}
.process_contactlist7  {
	display: none;
}
.process_contactlist6  {
	display: none;
}
.process_contactlist5  {
	display: none;
}
.process_contactlist4  {
	display: none;
}
.process_contactlist3  {
	display: none;
}
.process_contactlist2  {
	display: none;
}
.process_contactlist  {
	display: none;
}
.presence-status-icon img{ 
	border: 0px transparent none;
}
.nyroModalDom .groupheader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
/* Nyro modal thickbox styles */

.nyroModalBg {
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #333333;
	opacity: 0.7;
	z-index: 6260
}
.nmReposition {
	position: absolute;
}
.nyroModalCloseButton {
	top: -13px;
	right: -13px;
	width: 12px;
	height: 12px;
	text-indent: -9999em;
	background: url("Images/close.gif");
}
.nyroModalTitle {
	top: -26px;
	left: 0;
	margin: 0;
    font-size: 1.1em;
	color: #ddd;
}
.nyroModalCont {
	position: absolute;
	border: 4px solid #6699EE;
	margin: 25px;
	background: #fff;
	z-index: 6270;
}
.nyroModalCont iframe {
	width: 600px;
	height: 400px;
}
.nyroModalError {
	border: 4px solid red;
	color: red;
	width: 250px;
	height: 250px;
}
.nyroModalError div {
	min-width: 0;
	min-height: 0;
	padding: 10px;
}
.nyroModalFormFile {
	position: relative;
	padding: 10px;
	min-height: 250px;
	min-width: 250px;
	max-width: 1000px;
	z-index: 6271; //
}
.nyroModalForm {
	position: relative;
	padding: 10px;
	min-height: 250px;
	min-width: 250px;
	max-width: 1000px;
	z-index: 6272; //
}
.nyroModalDom {
	position: relative;
	padding: 10px;
	min-height: 250px;
	min-width: 250px;
	max-width: 1000px;
	z-index: 6273; //
}
.nyroModalLink {
	position: relative;
	padding: 10px;
	min-height: 250px;
	min-width: 250px;
	max-width: 1000px;
	z-index: 6274; //
}
.nyroModalIframeForm {
	position: relative;
	overflow: hidden;
}
.nyroModalIframe {
	position: relative;
	overflow: hidden;
}
.nyroModalSwf {
	position: relative;
	overflow: hidden;
}
.nyroModalImage {
	position: relative;
	overflow: hidden;
}
.nyroModalHidden {
	left: -9999em;
	top: -9999em;
}
.nyroModalLoad {
	position: absolute;
	width: 100px;
	height: 100px;
	background: #fff ur url("Images/ajax-loader.gif") no-repeat center;
	padding: 0;
}
.nyroModalNext {
	outline: none;
	position: absolute;
	top: 0;
	height: 60%;
	width: 150px;
	min-height: 50px;
	max-height: 300px;
	cursor: pointer;
	text-indent: -9999em;
	background: transparent url('data:image/gif;base64,AAAA') left 20% no-repeat;
}
.nyroModalPrev {
	outline: none;
	position: absolute;
	top: 0;
	height: 60%;
	width: 150px;
	min-height: 50px;
	max-height: 300px;
	cursor: pointer;
	text-indent: -9999em;
	background: transparent url('data:image/gif;base64,AAAA') left 20% no-repeat;
}
.nyroModalImage .nyroModalNext {
	height: 100%;
	width: 40%;
	max-height: none;
}
.nyroModalImage .nyroModalPrev {
	height: 100%;
	width: 40%;
	max-height: none;
}
.nyroModalPrev {
	left: 0;
}
.nyroModalPrev:hover {
	background-image: url("Images/prev.gif");
}
.nyroModalNext {
	right: 0;
	background-position: right 20%;
}
.nyroModalNext:hover {
	background-position: right 20%;
	background-image: url("Images/next.gif");
}
.projects_content_table {
	width: 950px;
}
.project_content_col1 {
	width: 200px;
}
.project_content_col2 {
	width: 550px;
}
.project_content_col3 {
	width: 200px;
}


/* Financing pages */

.financing_content_table {
	width: 950px;
}

.financing_column1 {
	width: 750px;
}
.financing_column2 {
	width: 200px;
}

/*	Version 0.1	11.11.2010	*/


/*	VTT Dark Blue: #1d398d
	VTT Dark Blue2: #566baa
	VTT Dark Blue3: #8e9cc6
	VTT Dark Blue3: #c6cde2
	VTT Light Blue: #00adef
	VTT Light Blue2: #40c2f3
	VTT Light Blue2: #7fd6f7
	VTT Light Blue2: #bfebfb		
*/

body {
	font-family:Arial,sans-serif;
	font-size: 12px;
}

/*
ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

td {
	margin:0;
	padding:0;
	border:none;
}

table {
	margin:0;
	padding:0;
	border:none;
}

a:link {
	color:#1d398d;
}
*/


ul.NoList {
	list-style-type:none;
	padding:0;
	margin:0;
}

.item {
	padding:2px 0 2px 4px;
}

.hidden {
	display: none;
}

/* --------- Jquery breadcrumb styles ------*/
.jquery_breadcrumb{
	list-style: none;
	margin: 0 0 0 110px;
	padding: 0;
	display: inline-block;
	font-size: 11px;
	color: #000000;
}

.jquery_breadcrumb li{
	padding: 0 3px;
}
.breadcrumb_previous_wrapper {
	float: left;
	width: 8px;		/*otsikon leveys 'suljettuna'	*/
	display:block;
	overflow: hidden;
}
.breadcrumb_previous{

}

.jquery_breadcrumb li a{
	margin-right: 0px;
	white-space: pre;
	color: #1D398D;
}
.jquery_breadcrumb li {
	float: left;
	margin-left: -7px;
}
.breadcrumb_separator {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	margin: 0 4px;
}
/* --------- Jquery breadcrumb styles ------*/



/********        VTT CUSTOM STYLES        ********/


/* --------- Etusivu ------*/

td.cells1 {
	padding:0;
	width: 353px;
}

td.cells2 {
	padding: 0 24px 0 24px;
	width:353px
}

td.cells3 {
	padding:0;
	width:206px;
}

td.cells12 {
	width:auto;
	padding: 0 24px 0 0;
}

td.cells12 img {
/*	width:100%; */
}

.cells1 .ms-WPHeader {
	font-size:12px;
	font-weight:bold;
	padding-bottom:3px;
	padding-left:8px;
	color:#1D398D;
}

.cells3 {
	padding-top:0;
}

.cells3 .epulssi_link .ms-PartSpacingVertical {  /*  Etusivun ePulssi-linkin muotoilua  */
	padding-bottom:0;
	margin-top:0;
}

.cells3 .epulssi_link .s4-wpTopTable {  /*  Etusivun ePulssi-linkin muotoilua  */
	padding-bottom:0;
	margin-top:0;
}
.VTT-HintWeek {
    font-weight: normal;
}

.VTT-HintWeek .hint_header {
    color: #1D398D;
    font-size: 12px;
    font-weight: bold;
}
.VTT-HintWeekTitle a {
	font-size:12px;
	font-weight:bold;
	color:#1D398D !important;
}

.VTT-HintWeekTitle {
	font-size:12px;
	font-weight:bold;
	color:#1D398D !important;
	display: none;
}

.VTT-HintWeekBody  {
	color:#3f3f3f !important;
	font-size: 12px;
	margin: 2px 0px 2px 0px;
}

.VTT-HintWeekBody p {
	margin-top: 2px;
	margin-bottom: 2px;
}

.VTT-NewsHighlight {
	margin-bottom: 12px;
	padding: 12px;
/*	width:300px;*/
}

.VTT-NewsHighlight .ms-WPHeader {
	background-image:none;
	padding:0;
}
.frontpage_topbanner {
	padding: 0px;
	margin: -16px 0px 0px 0px;
}
.frontpage_topnews_text {
	color: #3f3f3f;
	font-size:12px;
}

.frontpage_topnews_text:hover {
	text-decoration: underline;
}

div.VTT-FrontpageRSS {	/*    Palsta venyy liikaa IE:ssä    */
	width:340px;

}

/* --------- Etusivu loppuu ------*/

.VTT-Blueborder {
	border: 1px solid #00adef;
	background-color: #ffffff;
}

.VTT-NewsBody .VTT-Blueborder {
/*	width: 486px !important;*/
}

.VTT-Fade {
	opacity:0.5;
	filter:alpha(opacity=50);
}

.VTT-Bullet {
	display:list-item;
	list-style:disc inside none;
	color: #1d398d;
}

.VTT-Bullet a:link {
	color: #1d398d;	
}

.VTT-Bullet a:link:hover {
	text-decoration:underline;	
}

.content_area_centered {
	padding: 16px 0 0 0;
	width: 100%;	/*    Sisältöalue koko raamin levyiseksi, pitää olla 100% eikä auto tai kalenteri sotkee    */
}

.VTT-LeftColumn {
	vertical-align:top;	
}

.VTT-RightColumn {
	vertical-align: top;
}

/*    ****     Ao. raamityylit pois    ****    */

.VTT-Frame-Top {
	background-image:url('/Style%20Library/Images/VTT-Frame-220px-Top.png');
	min-height: 8px;
}

.VTT-Frame-Middle{
	background-image:url('/Style%20Library/Images/VTT-Frame-220px-Middle.png');
	background-repeat:repeat-y;
}

.VTT-Frame-Bottom{
	background-image:url('/Style%20Library/Images/VTT-Frame-220px-Bottom.png');
	background-position: bottom;
	min-height: 8px;
}

.VTT-Frame-TopRound {
	background-image:url('/Style%20Library/Images/VTT-Frame-220px-TopRound.png');
	min-height: 8px;
}

.VTT-Frame-BottomRound {
	background-image:url('/Style%20Library/Images/VTT-Frame-220px-BottomRound.png');
	background-position: bottom;
	min-height: 8px;
}

.VTT-Frame-Padding {
	padding: 0 0 12px 0;
}

.VTT-Box1 {
	border:1px ridge #f0f0f0;
	padding:4px;
	margin-top:8px;
}

.VTT-Box2 {
	background-color: #FFFFFF;
	padding:2px;
	border:1px outset #f0f0f0;
	color:#404040;
}

.VTT-Separator1 {
	border-bottom:1px solid #00adef;
	padding-bottom:4px;
}

.VTT-Separator2 {
	border-bottom:1px solid #FFFFFF;
	padding-bottom:8px;
	margin-bottom:8px;
}

.VTT-Topical-RightColumn {
	width: 301px;
	vertical-align:top;
	padding:0;
}

.VTT-Topical-LeftColumn {
	width: 301px;
	vertical-align:top;
	padding:0;
}

.VTT-Topical-MiddleColumn {
	width: 300px;
	vertical-align:top;
	padding: 0 24px 0;
}

.VTT-NewsBody {
	padding: 0 24px 0 0;
	vertical-align:top;
	width: auto;
	min-width:442px;
}

.VTT-ContentMain {
	padding: 0 16px 40px 16px;
}

.VTT-ContentTitle {
	font-weight:normal;
	font-size:18px;
	color:#1d398d;
	margin-bottom:8px;
	font-family:Arial, Helvetica, sans-serif;
}

.VTT-News-Date {
	color:#1d398d;
	margin-top: 4px;
	margin-bottom: 12px;
}

.VTT-ContentImageTable {
	float:left;
	margin:0 12px 6px 0;
}

.VTT-ContentBody {
	font-family:Arial, Helvetica, Courier, sans-serif;
	font-size:12px;
	color:black;
	text-align: justify;
	margin-bottom: 9px;
	padding-bottom: 6px;
/*	border-bottom:1px #7fd6f7 solid;*/
}

.VTT-ContentImageCaption {
	font-size:11px;
	color:#000000;
}

.VTT-ContentImageCaption p {
	margin:0;
}

.VTT-News-Taxonomies {
	color:#ffffff;
}

.VTT-Notices-EndDate {
	color:#808080;
}

.VTT-Notices-Taxonomies {
	color:#ffffff;
}

.VTT-News-Highlight {
	color:#ffffff;
}

.VTT-News-Links a:link{
	color:#1d398d;
	font-family: Arial,sans-serif;
}

.VTT-ContactCell {
	width:240px;
	vertical-align:top;
	margin-bottom: 8px;
	padding: 0;
}

.VTT-ContactCell > div {
	margin-bottom: 12px;
}

.VTT-ContactCell .ms-long{		/*    ****    Input fields in news page edit mode    ****    */
	width:98%;
}

.VTT-ContactHeader {
	font-size:12px;
	font-weight:bold;
	color:#1D398D;	
}

.VTT-ADContact a:visited {
	color: #808080;
}

.VTT-ADContact a:link {
	color: #808080;
}

.VTT-ADContact .ms-descriptiontext {
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

.VTT-ADContact > table > tbody > tr > td {
	padding-bottom: 8px;
}

.VTT-ADContact td.ms-vb > table > tbody > tr > td > a > img {
	display:none;
}

.VTT-ContactInfo {
	color:#3F3F3F;
}

VTT-ContactInfo a:visited {
	color: #808080;	
}

.VTT-ContactInfo a:link {
	color: #808080;	
}

.VTT-ContactInfo a:hover {
	text-decoration:underline;
}

div[title="People Picker"] {
	border:1px solid #d8d8d8;
}

.VTT-Video {
	padding: 8px 0 12px 0px;
}

.VTT-Video .s4-wpTopTable {
	padding:0;
}

.VTT-LinkList {
	padding: 8px 0 12px 0px;
}

.VTT-LinkList .item {
	padding:4px 0;
}

.VTT-LinkList .link-item a:link {
	font-size:12px;
}

.link-item > .description {
	font-size: 10px;
	margin-bottom: 4px;
}

.page_rating {
}

.VTT-Tagcloud {
	border: 1px solid #00ADEF;
	margin: 12px 0 12px 0px;
	padding: 8px;
}

/*
.VTT-NewsColumn {
	background-image:url('/images/VTT-Clouds-15.jpg');
	background-repeat:no-repeat;
}
*/

.VTT-News-Themes {
	list-style-type:none;
	padding: 2px 10px;
	color:#1d398d;
	line-height:18px;
}

.link-item a:link {
}
.link-item a:link {
	font-size:11px;
    color: #1D398D;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.link-item a {
	font-size:11px;
    color: #1D398D;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.link-item {
	font-size:11px;
    color: #1D398D;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.link-item a:hover {
	font-size:11px;
}

.VTT-News-Themes .link-item {
	font-size:11px;
}

.VTT-News-Themes .s4-wpTopTable {
	padding:0;
}

.VTT-News-Sorting {
	list-style-type:none;
	padding:2px 10px;
	color:#1d398d;
	line-height:18px;
}

.VTT-News-Times {
	list-style-type:none;
	color:#1d398d;
	padding: 2px 10px;
	line-height:18px;
}

.VTT-News-ArticleLinks {
	display:inline;
}

.VTT-News-Links img {
	vertical-align:middle;
}

.VTT-News-Links a:visited {
	color:#808080;
}

.VTT-News-Links a:link {
	color:#1d398d;
	vertical-align:middle;
}

.VTT-News-Links {
	color:#1d398d;
}

.VTT-News-Links a:hover {
	text-decoration: underline;
}

.image_gallery {
	margin: 32px 0;
	padding: 0 7px;
	background-color:#CCCCCC;
}

.article_gallery_image_wrapper {
	border:1px solid #CCCCCC;
	float:left;
	height:100px;
	margin:15px 8px;
	outline:1px solid #CCCCCC;
	overflow:hidden;
	padding:0;
	width:100px;
}

.article_gallery_image_wrapper:hover {
	outline:1px solid #FFFFFF;
}
.comment_section .write_comment_header {
	margin: 10px 0px 0px 5px;
	color: #1D398D;
	font-weight: bold;
}
.comment_section .ms-WPBody td {
	font-size:12px;
}

.comment_section .s4-wpTopTable {
	padding:0;
}

.comment_section #ctl00_PlaceHolderMain_g_76c954ee_6006_4106_b2c5_cc5dd3eb9866_ctl00_PlaceHolder > div[style] {
	display:none !important;	/*    ****    Kommentointitoiminnon 'ohjeet' kun sivulla ei ole kommentteja    ****    */
}

.comment_section .socialcomment-image {
	display:none;
}

.comment_section .socialcomment-bottom {
	padding-bottom:0;
}

.comment_section .socialcomment-bottom p{
	margin-top:0;
}


.VTT-CalendarColumn {
	vertical-align:top;
	padding: 0;
	width: 618px;
}

.VTT-CalendarColumn .ms-acal-item a {
	color:#ffffff !important;
}

.VTT-SolidFrame-TopLeft {
	width:8px;
	height:8px;
	line-height:0;
}

.VTT-SolidFrame-Top {
	width:100%;
	height:8px;
	background-color: #5aaade;
}

.VTT-SolidFrame-TopRight {
	width:8px;
	height:8px;
	line-height:0;
}

.VTT-SolidFrame-Left {
	background-color: #5aaade;	
}

.VTT-SolidFrame-Right {
	background-color: #5aaade;	
}

.VTT-CalendarWP img {
	padding:0;
	margin:0;
}

.VTT-CalendarWP .ms-acal-header {
	border-bottom:1px solid #FFFFFF;
	margin:10px 2px;
	padding:0 0 2px;
}

.VTT-CalendarWP .ms-acal-display {
	color: #FFFFFF;
	text-transform:capitalize;
	font-size: 15px;
	font-weight: bold;
}

.VTT-CalendarWP .ms-acal-item {
	font-size:10px;
	border: none;
	background-color: #00adef;
	margin-left:1px;
}

.VTT-CalendarWP .ms-acal-location {
	color: #bfebfb;
}

.VTT-CalendarWP .ms-acal-mdiv{
	color: #bfebfb;
}

.VTT-CalendarWP .ms-acal-sdiv{
	color: #bfebfb;
}

.VTT-CalendarWP .ms-acal-month-top {
	border:none;
}

.VTT-CalendarWP .ms-acal-summary-dayrow th {
	background-image:url("/Images/VTT-Calendar-Weektab-bottom.png");
	background-position:bottom right;
	background-repeat:no-repeat;
	cursor:pointer;
	background-color:#ffffff;
	border-color: transparent #5aaade transparent transparent !important;
	border-style: none solid none none;
	border-width: 0 1px 0 0;
}

.VTT-CalendarWP .ms-acal-summary-dayrow th.ms-acal-hover {
	background-color: #BFEBFB;
}

.VTT-CalendarWP .ms-acal-summary-dayrow td div {
	background-color:#bfebfb;
	margin:2px 1px 0;
	color: #566baa;
}

.VTT-CalendarWP .ms-acal-month-weeksel {
background-image:url("/Images/VTT-Calendar-Weektab-top.png");
background-position:right top;
background-repeat:no-repeat;
height:16px;
width:11px;
}

.VTT-CalendarWP .ms-acal-summary-itemrow td div {
	background-color: #FFFFFF;
}

.VTT-CalendarWP .ms-acal-summary-itemrow td div.ms-acal-outday {
	background-color: #bfebfb;
}

.VTT-CalendarWP.ms-acal-summary-itemrow th {
	border: none;
}

.VTT-CalendarWP .ms-acal-summary-itemrow td {
	border: none;
}

.VTT-CalendarWP .s4-wpActive {
	background-color: #5aaade;
}

.VTT-CalendarWP .s4-wpcell {
	background-color: #5aaade;
}

.VTT-CalendarWP .ms-acal-month-top {
	color: #FFFFFF;
	text-transform:uppercase;
}

.VTT-CalendarWP .ms-acal-month div.ms-acal-today{
	background-color:#00ADEF;
	background-image:none;
	color:#ffffff;
	border-color: #ffffff !important;
}

.VTT-CalendarWP .ms-acal-month .ms-acal-hover div.ms-acal-today{
	background-image: url('/Images/VTT-Calendar-Today-Hover.png');
}

.VTT-CalendarWP .ms-acal-week-top td {
	color:#566BAA;
	background-color:#ffffff;
	border-color: transparent transparent #5aaade transparent;
	border-width: 0 0 2px 0;
	border-style: none none solid none;
	background-image:url('/images/VTT-Calendar-Daytab-Left.png');
	background-position:top left;
	background-repeat:no-repeat;
}

.VTT-CalendarWP .ms-acal-week-top td div{
	border:none;
	background-image:url('/images/VTT-Calendar-Daytab-Right.png');
	background-position: top right;
	background-repeat: no-repeat;
	text-align:center;
	padding: 1px 0;
	background-color:transparent;
}

.VTT-CalendarWP .ms-acal-week-top td.ms-acal-hover {
	background-color:#bdebff;
	background-image:url('/images/VTT-Calendar-Daytab-Left.png');
}

.VTT-CalendarWP .ms-acal-week-top td.ms-acal-hover div{
	background-image:url('/images/VTT-Calendar-Daytab-Right.png');
	background-position: top right;
	background-repeat: no-repeat;
	text-align:center;
	background-color:transparent;
}

.VTT-CalendarWP .ms-acal-week-top td div.ms-acal-today{
	border:none;
/*	background:url("/images/VTT-Calendar-Daytab-Right.png") no-repeat scroll bottom right transparent;
	text-align:center;*/
	font-weight: bold;
}

.VTT-CalendarWP .ms-acal-week-top td div.ms-acal-today:hover{
/*	border:none;
	background:url("/images/VTT-Calendar-Daytab-Right-Hover.png") no-repeat scroll bottom right transparent;
	text-align:center;*/
}


.VTT-CalendarWP .ms-acal-hour00 th {
	border: none;
	color: #FFFFFF;
}

.VTT-CalendarWP .ms-acal-hour30 th {
	border:none;
	color: #FFFFFF;
}

.VTT-CalendarWP .ms-acal-hour00 td {
	background-color: #FFFFFF;
	border-bottom: 0px;
	border-left: 2px solid #5AAADE;
}

.VTT-CalendarWP .ms-acal-hour30 td {
	background-color: #FFFFFF;
	border-left: 2px solid #5AAADE;
}

.VTT-CalendarWP td.ms-acal-outday {
	background-color: #bfebfb;
}

.VTT-CalendarWP tr.ms-acal-hour30 th.ms-acal-detailtime{
	border:none;
}

.VTT-CalendarWP .ms-acal-weekgroup {
	border:none;
}

.VTT-CalendarWP .ms-acal-daygroup {
	border:none;
}

.VTT-CalendarWP .ms-acal-detail {
	border:none;
}

.VTT-CalendarWP .ms-acal-detailtime a:link {
	color: #FFFFFF;
}

.VTT-CalendarWP .ms-acal-day-top {
	background-color: #5AAADE;
	color: #FFFFFF;
	border:none
}

.VTT-CalendarWP .ms-acal-day-top div{
	border:none;
	margin-bottom:2px;
	text-transform:uppercase;
	font-size:12px;
	font-weight:bold;
}

.VTT-CalendarWP .ms-acal-day-top div.ms-acal-today{
	background-image:none;
	background-color:transparent;
}

.VTT-CalendarWP .ms-acal-day-top div.ms-acal-today:before{
	content:" - ";
}

.VTT-CalendarWP .ms-acal-day-top div.ms-acal-today:after{
	content:" - ";
}

.VTT-CalendarWP .ms-acal-allday td {
	border-bottom:2px solid #5AAADE;
	border-left:2px solid #5AAADE;
}

.ms-acal-allday .ms-acal-detailtime {
	border:none;
}

.VTT-EventsColumn {
	vertical-align:top;
	padding: 0 0 0 24px;
	width: auto;
}

.VTT-EventsColumn > .ms-WPHeader {
	font-size:12px;
	font-weight:bold;
	height:20px;
	padding-left:8px;
	color: #1D398D;
}

.VTT-EventsWP {
	padding-left:4px;
}

.VTT-Blogs-LeftColumn{
	width:220px;
	vertical-align:top;
	padding:0;
}

.VTT-Blogs-LeftColumn .level-section {
	margin-top:6px;
	margin-left:16px;
	list-style: disc outside none;
}

.VTT-Blogs-LeftColumn .ms-WPHeader {
	color:#00ADEF;
	font-size:12px;
	font-weight:bold;
	background-image:none;
	padding-left: 20px;
	padding-top: 8px;
}

.VTT-Blogs-LeftColumn .s4-wpTopTable {
	padding-bottom: 8px;
}

.VTT-Blogs-RightColumn {
	vertical-align:top;
	padding: 0 0 0 24px;
}

.VTT-Blogs-RightColumn > .ms-WPHeader {
	font-size:12px;
	font-weight:bold;
	height:18px;
	padding-left:8px;
	color: #1D398D;
}

.VTT-Bloglist {
	padding-left:2px;
	width:100%;
}

.VTT-BlogListItem {
}

td.VTT-BlogHighlightBody {
	padding-bottom:6px;
	color: #3f3f3f;
	font-size:12px;
	line-height:15px;
}

.VTT-BlogListItem:hover {
	background-color:#eaf8fe;
}

.VTT-BlogListTitle {
	width:60%;
}

td.VTT-BlogListReplies {
	font-size:12px !important;
	padding: 0;
}

td.VTT-BlogListTitle {
	font-size:12px !important;
	padding: 0;
}

td.VTT-BlogListBlogName > a:visited {
	font-size:12px !important;
	padding:0;
}

td.VTT-BlogListBlogname > a {
	font-size:12px !important;
	padding:0;
}

.VTT-BlogListDetails {
	padding-bottom:8px;
	color:#2685C3;
	font-size:11px !important;
	line-height:11px;
	padding-top:0;
}

.VTT-DiscussionLeft {
	width: 220px;
	padding: 0;
}

.VTT-DiscussionMain {
	padding: 0 0 0 24px;
}

.VTT-DiscussionMain > .ms-WPHeader {
	font-size:12px;
	font-weight:bold;
	padding-left:8px;
	color: #1D398D;
	height:18px;
}

.VTT-DiscussionMain > .ms-WPHeader .s4-wpTopTable {
	padding:0;
}

.VTT-DiscussionMain > .ms-WPHeader .ms-WPBody {
	font-size:inherit;
}

.VTT-DiscussionMain #MSO_ContentTable { /* keskustelupalstan leveys */
	width:100%;
}

.VTT-DiscussionList {
	padding-left:5px;
}


/********        VTT WEB PART STYLES        ********/

.VTT-WP-NewsItem {
	clear:both;
	padding:12px 0 6px 4px;
}

.VTT-WP-NewsThumbnail {
	max-width:120px;
	max-height:120px;
	border-width: 1px;
	padding:1px;
}

.VTT-WP-News-Title {
	font-size:14px;
	font-weight:bold;
	color: #1d398d;
}

.VTT-WP-News-Comments {
	font-size:12px;
	font-weight:normal;
	color: #1d398d;
}

.VTT-WP-News-Details {
	font-size: 9px;
	color: #9598bf;
	margin-top: 6px;
}

.VTT-WP-News2Item {
	clear:both;
	padding:4px 0 0px 4px;
	width:100%
}

td.VTT-WP-News2-Title {
	font-size:14px;
	font-weight:bold;
	color: #1d398d;
	width: 67%;
	overflow:hidden;
}

td.VTT-WP-News2-Details {
	font-size: 10px;
	color: #9598bf;
	margin-top: 2px;
	text-align: right;
}

.VTTList {
	font-size: 12px;
	font-weight:normal;
	padding:3px 0 3px 0;
	list-style-type:none;
}
.process_linklist .VTTList table{
	margin: -1.1em 0px 0px 0px;
}

td.VTTList-Date {
	overflow:hidden;
	vertical-align:top;
	white-space:nowrap;
	color: #1D398D;
	width: 46px;
	padding:0;
	font-size:12px;
}

td.VTTList-Title {
	vertical-align:top;
	padding:0 0 0 4px;
	font-size:12px;
}
.process_linklist td.VTTList-Title {
	font-size: 11px;
}

tr.VTTBuyAndSell-Date > td.finnish {
	overflow:hidden;
	vertical-align:top;
	white-space:nowrap;
	color: #1D398D;
	padding:0;
	font-size:12px;
	width: 77px;
}

tr.VTTBuyAndSell-Date > td.english {
	overflow:hidden;
	vertical-align:top;
	white-space:nowrap;
	color: #1D398D;
	padding:0;
	font-size:12px;
	width: 100px;
}


.VTT-WP-News-Brief-Title {
	font-size:12px;
	font-weight:bold;
	color: #1d398d;
}

td.VTT-WP-News-Brief-Details {
	font-size: 11px !important;
	color: #2685C3;
	margin-top: 0px;
	line-height: 11px;
}

.VTT-WP-NewsList {
	list-style-type:none;
	margin: 6px 0 0 5px;
	padding:0;
	font-size: 12px;
	line-height:16px;
}

table.VTT-WP-DiscussionItem {
	list-style-type:none;
	margin: 1px 0 0 1px;
	padding:0;
}

table.VTT-WP-DiscussionItem:hover {
	background-color:#eaf8fe;
}


table.VTT-WP-DiscussionItem-First {
	list-style-type:none;
	margin: 0;
	padding:0;
	font-size: 16px;
	line-height:18px;
	font-weight: bold;
}

table.VTT-WP-DiscussionItem td {
	font-size:12px;
	line-height:15px;
}

.VTT-EventsWP .dfwp-item {
	margin-top: 2px;
	margin-bottom:4px;
	margin-left: 4px;
}

.VTT-WP-EventTitle {
	font-size:12px;
}

.VTT-WP-EventDetails {
	display:inherit;
	font-size: 11px;
}

.VTT-WP-EventDetails .date {
	width: 100px;
}

.VTT-WP-EventDetails .location {
	display: inherit;
}

.notices_page_table {
	
}
.guides_menupage .top_zone {
	width: 950px;
}
li.submenu_title {
	color: #000000;
	list-style: none inside none !important;
	margin: 5px 0px 5px 0px;
	height: auto !important;
}

.notices_archive_frontpage_leftcol {
	vertical-align:top;
	width:220px;
}

.news_archive_frontpage_linklist {
	margin-top: 2px;
	padding: 6px 12px 16px 16px;
}
.news_archive_frontpage_linklist li {
	height: 1.3em;
	list-style: disc outside none;
	display: list-item;
}
.news_archive_frontpage_linklist li .menu-item-text {
	margin: 0px 0px 0px 0px;
	display: inline !important;
}

.news_archive_frontpage_linklist .s4-wpTopTable {
	padding:0;
}

.news_archive_frontpage_linklist ul{
	margin:0;
	padding-left:14px;
}

.news_archive_frontpage_linklist .menu-item {
	padding: 2px 0;
}

.news_archive_frontpage_linklist .menu-item a:link {
	font-size:12px;
	color:#1d398d;	
}

.news_archive_frontpage_linklist .menu-item a:visited {
	font-size:12px;
	color:#1d398d;	
}
.news_archive_frontpage_linklist .menu-item a:hover {
	text-decoration: underline;
}
.news_archive_frontpage_linklist .ms-WPHeader {
	background-image: none;
}

.news_archive_frontpage_linklist .ms-WPTitle {
	font-size: 12px;
	font-weight:bold;
	color:#00adef;
	margin-left:4px;
}

.VTT-Notices-Themes {
	width: 120px;
}

.hints_archive_frontpage_table .ms-WPHeader {
	font-size:12px;
	font-weight:bold;
	height:20px;
	margin-left:4px;
	margin-right: 12px;
	padding-left:8px;
	color: #1D398D;
}

.VTT-Linklist_Header {
	font-size: 12px;
	font-weight:bold;
	color:#00adef;
/*	margin: 8px 12px 0 12px;    */
}
/* vtt_topi.css */
.ms-rteStyle-VTTBody { 						/*   This will appear on the Sharepoint HTML editor Styles list   */
	-ms-name:"VTT Body";
	font-family:Arial, Helvetica, Courier, sans-serif;
	font-size:13px;
	color:black;
	margin-bottom:16px;
	text-align:left;
}

.ms-rteStyle-VTTBody p {
	margin-top:0;
}

.ms-rteStyle-VTTImageCaption { 				/*   This will appear on the Sharepoint HTML editor Styles list   */
	-ms-name:"VTT Image Caption";
	font-family:Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#000000;
}


body #s4-topheader2 {						/*    Main navigation bar    */
	border: none;
}

div.menu-horizontal > ul.root > li.static > a.menu-item {/*    Hide 'current page' from main navi bar    */
	display:none;
}
.financing_xml_subnavi div.menu-horizontal > ul.root > li.static > a.menu-item {/*    Hide 'current page' from main navi bar    */
	display: block;
}
.financing_xml_subnavi {
	border-bottom: 1px #03499A solid;
}

.financing_xml_subnavi li {
	display: block;
	margin: 0px 10px 5px 5px;
	padding: 0px 10px 0px 0px;
	border-right: 1px #03499A solid;
}
div.menu-horizontal > ul.root > li.static > ul.static > li.static > .hidden {
	display:none;
}

.s4-tn li.static > .menu-item {				/*    Main navigation menu item    */
	border-width: 0 0 0 2px;
	height: 17px;
	border-color: #ffffff;
}

.s4-tn li.static > a:hover {				/*    Main navigation hover    */
	background-image:url('Images/navigation_hover_bg.png');
	border-color: #ffffff;
	color: #ffffff;
}


.s4-toplinks .s4-tn a.selected {			/*    Main navigation selected    */
	background-image:url('Images/navigation_selected_bg.png');
	color: #ffffff;
	margin-left:0;
	margin-right: 0;
}

.s4-toplinks .s4-tn a.selected:hover {			/*    Main navigation selected hover    */
	color: #ffffff;
}
.s4-search select.ms-sbscopes {				/*    Width of the master page search site selection field    */
	width:100px;
}

/*.ms-alternating {
	background-color:transparent;
	background-image:url('/images/VTT_FadeBackground_white.png');
	background-repeat:repeat;
}*/

.ms-WPBorder {
	border:none;
}

.s4-widecontentarea {
	/*background-image:url('/images/VTT-Clouds-25.jpg');*/
	background-repeat:no-repeat;
}

#MSO_ContentTable {
	background-color:transparent;
}

/*
.dfwp-list {
	list-style-type:none;
	padding:0px;
	margin:0;
}
*/

.s4-wpTopTable {												/*    Web parts wrapper    */
	padding: 0 0 24px 0;
}

.ms-standardheader {											/*    Web parts header height    */
	height:17px;
}
.VTT-Blueborder .ms-standardheader {
	height: auto;
}

.s4-wpActive .ms-WPSelected {		/*    Remove frame from some WPs when they are selected */
	border:none;
}

.s4-wpActive .s4-wpTopTable {		/*    Remove frame from some WPs when they are selected */
	border:none;
}

.s4-wpcell .ms-WPSelected .ms-WPHeader td {	/*    Remove underline from some WPs headers when they are selected    */
	border-bottom:none;
}

.s4-wpActive .ms-WPHeader td {	/*    Remove underline from some WPs headers when they are selected    */
	border-bottom:none;
}

.s4-wpcell:hover .ms-WPHeader td {	/*    Remove underline from some WPs headers when they are selected    */
	border-bottom:none;
}

.s4-wpcell .s4-wpTopTable {										/*    Remove transparent border from some WP when they are selected    */
	border:none;
}

.ms-wpTdSpace {
	display:none;
}

.ms-WPTitle a:hover {
	font-size:12px;
	color: #1d398d;
	font-family: Arial, Helvetica, sans-serif;
	margin-left:8px;
	padding: 0 0 5px 0;
	font-weight:bold;
	line-height:21px;
}

.ms-WPTitle a:active {
	font-size:12px;
	color: #1d398d;
	font-family: Arial, Helvetica, sans-serif;
	margin-left:8px;
	padding: 0 0 5px 0;
	font-weight:bold;
	line-height:21px;
}

.ms-WPTitle a:visited {
	font-size:12px;
	color: #1d398d;
	font-family: Arial, Helvetica, sans-serif;
	margin-left:8px;
	padding: 0 0 5px 0;
	font-weight:bold;
	line-height:21px;
}

.ms-WPTitle a:link {
	font-size:12px;
	color: #1d398d;
	font-family: Arial, Helvetica, sans-serif;
	margin-left:8px;
	padding: 0 0 5px 0;
	font-weight:bold;
	line-height:21px;
}

.ms-WPTitle a {
	font-size:12px;
	color: #1d398d;
	font-family: Arial, Helvetica, sans-serif;
	margin-left:8px;
	padding: 0 0 5px 0;
	font-weight:bold;
	line-height:21px;
}

.ms-WPTitle {
	font-size:12px;
	color: #1d398d;
	font-family: Arial, Helvetica, sans-serif;
	margin-left:8px;
	padding: 0 0 5px 0;
	font-weight:bold;
	line-height:21px;
}

.ms-WPBody td {
	font-family: Arial, Helvetica, sans-serif;
}

.ms-WPBody {
	font-family: Arial, Helvetica, sans-serif;
}

.ms-WPBody a:visited  {
	color:#1d398d;
}

.ms-WPBody a:link  {
	color:#1d398d;
}
.cells2 .ms-WPBody a:visited  {
	color:#666666;
}

.ms-WPHeader {
	background-image:url('/Style%20Library/Images/VTT-WP-TitleCurve.png');
	background-position:bottom left;
	background-color:transparent;
	background-repeat:no-repeat;
}

.ms-WPHeader td {
	border-bottom:none;
}

.ms-WPHeaderTd {
	border-bottom:none;
}

.s4-wpcell {
	border:none;
}

.s4-wpcell:hover {
	border:none;
}

.s4-wpActive {
	border:none;
}

.ms-WPSelected{
	border:none;
}


table.ms-toolbar {
	background:none;
	border:none;
}

.s4-title {
	padding: 0;
}

.s4-titlelogo {
	display:none;
}

.topbar_searcharea {
	vertical-align:bottom;
}

/*
.s4-search {
	position:relative;
	bottom:-12px;
}
*/

.s4-search table {
	padding: 3px;
}

.site_variation_switch {
	width: 100px;
}


.s4-help {
	margin:8px 4px 4px 4px;
	vertical-align: middle;
	visibility:hidden;
}

.vtt_logo {
	float:left;
	background-image:none;
	height:auto;
	width:auto;
}

.vtt_logo > img {
	width:100px;
	border: 0px transparent none;
}

.vtt_site_title {
	padding:18px 0 0 5px;
/*	padding-top:18px;
	padding-bottom:0;
	padding-left:5px;*/
	display:table-cell;
}

.s4-titletext {
	width: 255px;
}

.vtt_breadcrumb {
	width: 390px;
	padding:0;
	font-size: 10px;
}
.vtt_breadcrumb a{
	color: #000000;
}
.vtt_company_links {
	text-align: right;
	width: 560px;
	padding:0;
	font-size:11px;
	text-transform: uppercase;
	vertical-align:top;
}
.vtt_company_links span {
	display: inline !important;
	letter-spacing: 0px;
}
.vtt_company_links a {
	color:#1D398D;
}


.vtt_company_links a:hover {
	text-decoration:underline;
}

.image-area-left {
	width:120px;
	margin-right:8px;
}

.ms-wpContentDivSpace {
	margin-right:0;		/* Keskustelupalsta CQWP oikean laidan säätö */
}

.s4-wpcell-plain {
	padding: 0;
}


/*    ****    Subnavigation    ****    */

.news_archive_frontpage_subnavi .level-section {
	float:left;
	margin-bottom:5px;
	margin-right:12px;
	padding-right:12px;
	font-size: 0.8em;
	border-right:1px solid #00adef;
	max-height: 13px;
}

.VTT-Subnavi {
	background-color: #FFFFFF;
	border-bottom: 1px #566baa solid;
	height: 40px;
}
.VTT-Subnavi a{
	color: #03499A;
}
.VTT-Subnavi li {
	float: left;
	display: block;
	height: 1em;
	margin: 0px 10px 5px 0px;
}
.VTT-Subnavi li .additional-background {
	padding: 0px 10px 0px 0px;
	border-right: 1px #566baa solid;
	display: block;
}
.VTT-Subnavi li:hover .menu-item-text {
	text-decoration: underline;
}
.VTT-Subnavi>a {		/*    ****    Viikon vinkit- ylänavigointi    ****    */
	margin-left: 8px;
	margin-right: 8px;
	line-height: 16px;
	color: #1D398D;
	
}

/*    ****    Subnavigation v2    ****    */

.VTT-Subnavi .dfwp-list > li {
	float:left;
	margin: -5px 12px 5px 0;
	padding: 0 12px 4px 0;
	font-size: 0.8em;
	border-right:1px solid #566baa;
	max-height: 13px;
}

.news_archive_frontpage_subnavi .s4-wpTopTable {
	padding: 0 12px 0;
}

/*    ****    End Subnavi    ****    */
/* Financing subnavi */

.financing_subnavi_holder {
	display: block;
	border-bottom: 1px #566BAA solid;
	padding: 0px 0px 5px 0px;
	margin: 0px 0px 5px 0px;
}
.financing_subnavi_holder a{
	color: #03499A;
}
.financing_subnavi ul li{
	display: inline;
}
.financing_subnavi ul{
	display: inline;
}
.financing_subnavi ul li {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-right: 0px transparent none;
	
}
.financing_subnavi ul li ul li{
	margin: 0px 10px 0px 0px;
	padding: 0px 10px 0px 0px;
	border-right: 1px #566BAA solid;
}

/* News archive */
.news_archive_frontpage_table {
	width: 950px;
	border-collapse:collapse;
}
.news_archive_frontpage_leftcol {
	width: 220px;
	vertical-align: top;
	padding: 0;
}
.news_archive_frontpage_leftcol a {
/*	font-size:12px;*/
}
.news_archive_frontpage_leftcol {
}
.notices_archive_frontpage_rightcol {
	width: auto;	
	vertical-align: top;
	padding:0 0 0 24px;
}

.news_archive_frontpage_rightcol {
	width: auto;	
	vertical-align: top;
	padding:0 0 0 24px;
}

.VTT-3Columns-RightColumn {
	vertical-align:top;
}

.VTT-3Columns-MiddleColumn {
	vertical-align:top;
}

.VTT-3Columns-LeftColumn {
	vertical-align:top;
}

.VTT-BuyAndSell-LeftColumn {
	vertical-align:top;
	width: 301px;
	padding:0;
}

.VTT-BuyAndSell-RightColumn {
	vertical-align:top;
	width: 301px;
	padding:0;
}

.VTT-BuyAndSell-MiddleColumn {
	vertical-align:top;
	width: 300px;
	padding: 0 24px 0;
}

.VTT-BuyAndSell .ms-WPHeader {
	color: #1D398D;
	font-size:12px;
	font-weight:bold;
	padding:0 0 2px 6px;
}

.VTT_BuyAndSell_List {
	padding-left:5px;
}

.VTT-Discussion-NewSubject {
	margin-left: 6px;
}

.VTT-Discussion-NewSubject img{
	vertical-align:middle;
}

.VTT-Discussion-NewSubject a{
	color: #1D398D;
	vertical-align:bottom;
}

.VTT-Discussion-NewSubject a:hover{
	text-decoration: underline;
}

.VTT-Discussion-NewSubject .s4-wpTopTable {
	padding:0;
}

.headertitle a:visited {
	color: #1d398d;
	font-size: 12px;
	font-weight:normal;
}

.headertitle a:link {
	color:#1d398d;
	font-size: 12px;
	font-weight:normal;
}

.headertitle a {
	color:#1d398d;
	font-size: 11px;
	font-weight:normal;
}

.headertitle {
	color:#1d398d;
	font-size: 11px;
	font-weight:normal;
}

.level-header {
	margin-top: -3px;
}

.testing {
	margin:0;
}

/*    ****    Discussion Boards    ****    */

table.ms-disc-bar {	
	background-color:transparent;
	background-image:url("/Style%20Library/Images/VTT-WP-TitleCurve.png");
	background-repeat:no-repeat;
	background-position:left bottom;
	border:none;
	margin: 0px 0px 5px 5px;
/*	margin-top:12px;*/
}

table tr td.ms-disc-padabove {
	padding-bottom: 0;
	padding-top: 0;
}

.ms-disc-bordered-noleft a:link {
	color:#1D398D;
}

.ms-disc-bordered a:link {
	color:#1D398D;
}

.ms-disc-padabove a:link {
	color:#1D398D;
}

.ms-viewheadertr { 
	display: block;
}
.ms-viewheadertr.ms-vhltr { 
	display: table-row;
}
.financing_content_table .ms-viewheadertr {
	display: table-row;
}
.finance_right_links_spacer {
	height: 196px;
}
.process_calendar_lists .ms-viewheadertr {
	display:none;
}
.news_archive_frontpage_newslist .ms-viewheadertr {
	display:none;
}
.financing_content_table .finance_right_links .ms-viewheadertr {
	display:none;
}
.financing_content_table .ms-vb2 nobr {
	white-space: normal;
}
.finance_deadline_header .ms-vh-div {
	width: 116px !important;
	white-space: normal;
}
.finance_deadline_header {
	width: 116px !important;
	white-space: normal;
}
.finance_deadline_details {
	width: 116px !important;
	white-space: normal;
}
.finance_call_name_header .ms-vh-div {
	width: 240px !important;
	white-space: normal;	
}
.finance_call_name_details {
	width: 240px !important;
	white-space: normal;	
}
.finance_call_name_header {
	width: 240px !important;
	white-space: normal;	
}
.full_proposal_submission_header .ms-vh-div {
	width: 124px !important;
	white-space: normal;	
}
.full_proposal_submission_details {
	width: 124px !important;
	white-space: normal;	
}
.full_proposal_submission_header {
	width: 124px !important;
	white-space: normal;	
}
.full_proposal_submission_header .ms-vh-div {
	width: 123px !important;
	white-space: normal;	
}
.outline_submission_details {
	width: 123px !important;
	white-space: normal;	
}
.outline_submission_header {
	width: 123px !important;
	white-space: normal;	
}
table.ms-disc-bar img#replyButton {
	display:none;
}

table tr td.ms-disc-bordered {
	padding-top:5px;
}

table tr td.ms-disc-bordered-noleft {
	border-color:#00ADEF;
	padding-top:5px;
}
ms-vb-lastCell {
	display: none;
}

.hide_last_column {
	display: none;
}

.ms-MenuUILargeRtL
{
background-color:#fafafa;
background-repeat:repeat-y;
cursor:pointer;
}

.ms-MenuUIRtL
{
background-color:#fafafa;
background-repeat:repeat-y;
cursor:pointer;
}

.ms-MenuUILarge
{
background-color:#fafafa;
background-repeat:repeat-y;
cursor:pointer;
}

.ms-MenuUI
{
background-color:#fafafa;
background-repeat:repeat-y;
cursor:pointer;
}
.ms-MenuUIPopupInner {
    background-color: #FFFFFF !important;
    cursor: pointer;
    display: block;
    font-family: Verdana,Arial,sans-serif;
    font-weight: normal;
    height: auto;
    margin: 0;
    padding: 0;
    text-decoration: none;
    white-space: normal;
    z-index: 20000 !important;
}

.ms-MenuUIPopupBody {
    background-color: #FFFFFF !important;
    cursor: pointer;
    display: block;
    font-family: Verdana,Arial,sans-serif;
    font-weight: normal;
    height: auto;
    margin: 0;
    padding: 0;
    text-decoration: none;
    white-space: normal;
    z-index: 20000 !important;
}

.VTT-LinkButton {
	font-size:12px;
	float:right;
}

.ms-dlgFrame {
    border: medium none;
/*    height: 100% !important;
    width: 99% !important; */
}
.notice_editor_info {
	margin: 10px 0px 0px 0px;
	font-size: 10px;
	color: #000000;
}


/*
.ms-vb2 {
	word-wrap: break-word;
}
tr.ms-viewheadertr > th.ms-vh, tr.ms-viewheadertr > th.ms-vh2 {
    border-color: transparent;
    border-style: solid;
    border-width: 0 0 1px 1px;
}
.financing_content_table .ms-vb-title {
    padding: 2px 16px 2px 1px;
    vertical-align: top;
}
.financing_content_table .ms-vb-title .ms-vb {
    padding: 2px 6px 3px 2px;
}
.financing_content_table .ms-vh-div {

	white-space: pre;           /* CSS 2.0 *
	white-space: pre-wrap;      /* CSS 2.1 *
	white-space: pre-line;      /* CSS 3.0 *
	white-space: -pre-wrap;     /* Opera 4-6 *
	white-space: -o-pre-wrap;   /* Opera 7 *
	white-space: -moz-pre-wrap; /* Mozilla *
	white-space: -hp-pre-wrap;  /* HP Printers *
	word-wrap: break-word;      /* IE 5+ *
}
*/
}

@media print {

.comment_section {
display:none;
}

.VTT-LinkList {
display:none;
}

#s4-statusbarcontainer {
display:none;
}

.s4-title {
display:none;
}

.s4-titlerowhidetitle {
display:none;
}

#s4-ribbonrow {
display:none;
}

.news_archive_frontpage_leftcol {
display:none;
}

.notices_archive_frontpage_leftcol {
display:none;
}


.VTT-Subnavi {
display:none
}

.VTT-Notices-EndDate {
display:none;
}

.VTT-News-Highlight {
display:none;
}

.VTT-ImageGallery {
display:none;
}

.VTT-Video {
display:none;
}

.VTT-News-Links {
display:none;
}

.VTT-Tagcloud {
display:none;
}



body.v4master>form {
width: 100%;
margin: 0;
}

.s4-widecontentarea {
background-image:none;
}

.notices_archive_frontpage_rightcol {
position:absolute;
width:18cm;
}

.news_archive_frontpage_rightcol {
position:absolute;
width:18cm;
}

.content_area_centered {
margin:10mm 0 0 0;
padding:0;
width:19cm;
}

.news_archive_frontpage_table {
width:100%
}

.VTT-NewsBody {
padding: 0 5mm 0 0;
width: 135mm;
}

.VTT-ContentMain {
margin:0;
padding:0;
}

.VTT-News-Date {
margin-bottom: 1mm;
}

.VTT-Notices-Taxonomies {
color:#1D398D;
font-size: 6pt;
text-align:right;
}

.VTT-News-Taxonomies {
color:#1D398D;
font-size: 6pt;
text-align:right;
}

.VTT-ContactCell {
border-left:1px solid;
width: 30mm;
padding:10.8mm 0 0 2mm;
}

.notices_archive_frontpage_rightcol .VTT-ContactCell {
display:none;
}

.VTT-ContactFrame {
padding-right:0;
margin-right:0;
}

.VTT-ContactPicture {
width:27mm;
}

/*
.VTT-ContactPicture > img {
width: 25mm;
}

.VTT-ADContact a > img {
width: 25mm;
}
*/

.VTT-Blueborder {
border:0px transparent none !important;
width: 100%;
}

.hasCorners div {
border: 0px transparent none !important;
width: 100%;
}

.VTT-Blueborder div{
border: 0px transparent none !important;
width: 100%;
}

.VTT-Tagcloud {
border: 0px transparent none !important;
}

.static_topnaviheader {
	display:none;
}
.VTT-Subnavi {
	display:none !important;
}

.process_linklist {
	display:none !important;
}

.hornavi_preview {
	display:none !important;
}

.process_3level_contentnavi {
	display:none !important;
}

.sitemap_container {
	display:none !important;
}

/*.VTT-Blueborder>div{
	border: 1px solid black;
	background-color:yellow;
}*/

}




