.kb_name {
 font-size: 16px;
}

.kb_desc {
 margin: 0 0 15px 0;
}

.hidden {
	display: none;
}

.modgroup {
  font-size: 14px;
}
.modgroup span {
 font-weight: bold;
}

#headernav {
	list-style: none;
}

#logo {
	float: left;
	width: 100%;
}

#logo a {
	display: block;
	height: 78px;
}

#navi {
	margin: 30px 0 0;
}

#headernav li {
	float: left;
}

.center {
	text-align: center;
}

.full {
	width: 100% !important;
}

.announ {
	display: block;
	width: 98%;
	text-align: center;
	margin: 0 auto;
	color: #ee0000;
	border: 3px solid #ee0000;
	padding: 20px 0;
}

.ui-tooltip {

}

.ui-tooltip-content {
	padding: 10px;
	background: #fbe3e4;
	color: #a3859f;
}

body .ui-tooltip {
	border-color: #fcd0d1;
}

.error {
	background-color: #c49090;
}

#modal {
	display: none;
}